<!DOCTYPE HTML>
<html>

<head></head>

<body>
  <canvas id="c" width="500" height="500"></canvas>
  <script src="static/Chart.min.js"></script>
  <script>
    var ctx = document.getElementById("c").getContext("2d");
    var data = {
      labels: [
      {% for time in times %} 
      "{{ time.time }}",
      {% endfor %}
      ],
      datasets: [{
        label: "My First dataset",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [
        {% for time in times %}
        {{ time.data1 }},
        {% endfor %}]
      }, {
        label: "My Second dataset",
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        data: [
        {% for time in times %}
        {{ time.data2 }},
        {% endfor %}]
      }]
    };
    var MyNewChart = new Chart(ctx).Line(data);
  </script>
<table width="250" border="0">
    <tr border="0">
    {% for r in relstat %}
        <td bgcolor="#{{ r }}" border="0">R{{ loop.index }}</td>
    {% endfor %}
    </tr>
</table>
Sensor1: {{ data1 }}°C <br>
Sensor2: {{ data2 }}°C
</body>
</html>
