<!DOCTYPE HTML>
<html>

<head></head>

<body>
  <canvas id="c" width="1000" height="500"></canvas>
  <script src="static/Chart.min.js"></script>
  <script>
    var ctx = document.getElementById("c").getContext("2d");
    var data = {
      labels: [
      {% for time in times %} 
      "{{ time.time }}",
      {% endfor %}
      ],
      datasets: [{
        label: "Sensor 0",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [
        {% for time in times %}
        {{ time.data1 }},
        {% endfor %}]
      }, {
        label: "Sensor 1",
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        data: [
        {% for time in times %}
        1000,
        {% endfor %}]
      }]
    };
    var MyNewChart = new Chart(ctx).Line(data);
  </script>
</br>Sensor0: {{ data1 }} hPa ({{delta10}}/{{delta50}}/{{delta}})
</br>Sensor1: 0{{ data2 }} hPa
</br><a href="./">Temperatur</a>
</body>
</html>
